* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

body {
    color: #fff;
    background-color: #111;
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-title {
    color: #fff;
}

.nav-list {
    display: flex;
}

.nav-link {
    color: #fff;
    margin: 0 15px;
    transition: .5s;
}

.nav-link:hover{
    color: red;
}

.nav-wrapper {
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}

.page-text, .page-photo {
    width: 50%;
}

.main .container {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 80px;
    justify-content: space-around;
}

.page-photo {
    
    background-image: url("../imgs/Oval.png"),
    url("../imgs/Oval\ Copy.png");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: right, right 110px;
    background-size: 490px, 490px;
}

.form {
    margin-left: 325px;
    margin-top: 60px;
    border-radius: 10px;
    width: 380px;
    height: 487px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form input {
    border: 1px solid #EAE9F2;
    margin: 15px 0;
    padding: 20px 20px;
    border-radius: 5px;
    outline: none;
}

.form select {
    border: 1px solid #EAE9F2;
    padding: 20px 20px;
    margin: 15px 0;
    background: none;
    outline: none;
    border-radius: 5px;   
}

.form select:optional{
    color: #696871;
}

.form .form-link {
    background-color: #C31A12;
    padding: 20px 20px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
}

.page-text .page-title {
    font-size: 45px;
}

.page-text .page-subtext {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    font-size: 15px;
    width: 100%;
    line-height: 33px;
}